// Навигация в сайдбаре
.left-navigation{
	
	ul{
		padding: 0;
		margin-left: 20px;
		list-style: none;

		.left-nav-1{
			margin-top: 50px;
		}
		
		// Заголовки меню
		li{
			h2{
				text-transform: uppercase;
				color: @white;
				font-family: @fontFamily;
				font-size: 15px;
				text-align: left;
			}
			
			// Список навигации первого уровня
			ul{
				list-style: none;
				padding: 0;
				margin-left: 20px;
				
				.left-nav-2{
					margin-top: 10px;
				}

				.left-nav-opened{
					span{
						color: @white;
					}
				}

				li{

					span{
						text-transform: uppercase;
						color: @color4;
						font-family: @fontFamily;
						font-size: 13px;
						cursor: pointer;

						.transition(color, 0.25s);

						&:hover{
							color: @white;
						}
					}
					
					// Список навигации второго уровня
					ul{
						display: none;
						padding: 0;
						margin-left: 10px;

						li{

							a{
								color: @color4;
								font-family: @fontFamily;
								font-size: 13px;
								cursor: pointer;

								.transition(color, 0.25s);

								&:hover{
									color: @white;
								}

							}
						}
					}
				}
			}
		}
	}
}