// Страница
.page{
	background: url('../images/back.png');
	background-repeat: repeat;
}

// Основной контейнер
.container-main{
	background-color: @color1;
}



//////////////////////////////////////////////////
// Верхняя полоска
//////////////////////////////////////////////////

.top{
	height: 90px;
}

.logo, .nav, .contacts{
	height: 90px;
}

.logo{
	background: url('../images/logo.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-color: @color2;

	a{
		.block-link(888);
	}
}

.nav{
	background: @color3;

	ul{
		list-style: none;
		display: block;
		height: 100%;
		margin: 0;
		padding: 0;
		
		li{
			float: left;
			margin: 0 0px;
			display: block;
			height: 100%;

			a{
				color: @color4;
				text-transform: uppercase;
				font-size: 14px;
				font-family: @fontFamily;
				text-decoration: none;
				display: block;
				height: 100px;
				width: 100%;
				padding: 36px 20px;

				&:hover{
					color: @white;
				}

				.transition(color, 0.25s);
			}

			.transition(background, 0.25s);

			&:hover{
				background-color: @color1;
			}
		}

		li.active {
			a{
				color: @white
			}
		}
	}
}

.contacts{
	background: @color1;
	padding: 0 !important;
	overflow: visible;
		
	h2{
		color: @white;
		font-size: 17px !important;
		text-align: center;
		margin-top: 17px;
		font-weight: normal;
		font-family: @fontFamily2
	}
}

.social{
	width: 100%;
	height: 50px;
	background: @color2;
	position: absolute;
	bottom: -50px;
	z-index: 888;
}



//////////////////////////////////////////////////
// Основная часть страницы
//////////////////////////////////////////////////

.main{
	background: @color1;
}

// Сайдбар
.sidebar{
	background: @color1;
}

// Основной блок контента
.content{
	padding: 0;
	background: @white;
}

// Блок с текстом приветствия
.hello{
	margin-top: 30px;
	padding: 20px;
	float: left;
	color: @black;
}

// Блок с популярными товарами
.popular{
	margin-top: 30px;
	padding: 20px;
	float: left;
	background: @white;
}

//////////////////////////////////////////////////
// Футер
//////////////////////////////////////////////////

.footer{
	background: @color3;
	height: 100px;
	text-align: center;
	padding-top: 40px;

	.copy{
		color: @color4;
	}
}






