h1{
	color: @black;
	font-size: 27px;
	font-family: @fontFamily;
}

h2{
	color: @black;
	font-size: 25px;
	font-family: @fontFamily2;
	margin-left: 10px;
}

h3{
	color: @black;
	font-size: 25px;
	font-family: @fontFamily2;
}