// VARIABLES

//Основные цвета
@color1: #000;
@color2: #fff;
@color3: #FFAA00;
@texture1: url('../img/wood-back.jpg');

//Шрифты
@fontFamily: 'Ubuntu Condensed', sans-serif;
@fontSize1: 42px;
@fontSize2: 27px;
@fontSize3: 21px;