// VARIABLES

//Основные цвета
@color1: #1e2f33;
@color2: #dd9e6f;
@color3: #525e65;
@color4: #a6a9ab;

@white: white;
@black: black;
// @texture1: url('../img/wood-back.jpg');

//Шрифты
@fontFamily: 'Ubuntu Condensed', 'Roboto', sans-serif;
@fontFamily2: 'Roboto', sans-serif;
// @fontSize1: 42px;
// @fontSize2: 27px;
// @fontSize3: 21px;